<div class="row pea">
    <div class="edwardian row">
        <div class="col-md-12">Palak & Jared</div>
    </div>
    <div class="edwardian row">
        September 26th, 2014
    </div>

    <div class="row">
        <a href="#the_couple">The Couple</a>
        <a href="#wedding_party">Wedding Party</a>
        <a href="#wedding_events"/>Wedding Events</a>
        <a href="#accommodations"/>Accomdations</a>
        <a href="#registry"/>Registration </a>
    </div>
</div>


<div id="the_couple" class="row purple">
    <div class="row purple">

        <h1 class="text-center">The Couple</h1>


    </div>
    <div class='col-md-6 purple'>
        <h2 class="text-center">About the Bride</h2>
        <%= image_tag "lips.png" %>
        <p>Palak was born in New Jersey and raised in the suburbs outside of Atlanta, GA. After high school, she
            moved to Los
            Angeles, CA to attend the University of Southern California. Upon graduation, Palak began her legal
            career working at a
            large law firm. After two years of work, she decided it was time to get her law degree. Palak
            graduated
            with a J.D. from
            The George Washington University Law School in Washington, D.C. and began working in-house at large
            companies in the area.
            Her most recent position brought her to Seattle, WA.</p>

        <p>Palak's favorite pastimes include spending time with her amazing friends, reading, and
            crafting.</p>
    </div>
    <div class='col-md-6 purple'>
        <h2 class="text-center">About the Groom</h2>
        <%= image_tag "mustache.png" %>
        <p>Jared was born and raised in Columbus, Ohio. After high school, he remained in Columbus to attend
            Ohio
            State University.
            During his final year of undergrad, Jared was offered a position as a defense contractor in
            Washington,
            D.C., so he
            embarked on his journey to the nation's capital shortly after graduation. After two years of
            work,
            Jared decided to
            pursue a masters degree in his newest passion, software engineering. During this schooling, Jared
            began
            working at a
            start-up in the area. His new experience and education made him particularly desirable to many
            companies, and shortly
            after, he was offered an amazing opportunity in Seattle, WA. Jared continued his education and
            received
            a masters degree
            from the Johns Hopkins University in May 2014.</p>

        <p>Jared's favorite pastimes include programming, bicycling, and working out.</p>
    </div>
</div>

<div class='row purple'>

    <div class='col-md-1'>
    </div>

    <div class='col-md-10'>
        <h1 class="text-center">Our Story</h1>

        Palak and Jared met in Washington, D.C. where they began their relationship. After two and half years of
        dating, the couple
        decided to move to Seattle, WA to further their careers. With nearly three years of dating under their
        belts, Jared decided it
        was time to pop the question. A year prior to the proposal, Jared had secretly requested Palak's
        parents'
        blessing for
        her hand. In the months leading up to the proposal, Jared worked with Palak's friends to develop a
        proposal she was sure to
        say yes to. While visiting Los Angeles over labor day weekend, Jared proposed to Palak on the beach in
        Santa
        Monica, just after
        sunset, with the lights of the Santa Monica pier and ferris wheel providing a picturesque backdrop. He
        had
        hired a plane with
        an LED bottom to fly around the beach and water scrolling the following, "Palak Shah, will you
        marry
        me? <3 <3
        <3." As they began walking onto the sand, Jared pointed up into the sky and asked her to look
        up.
        Tears filled her eyes
        when she finally realized what was happening. With her friends cheering them on, Jared got down on one
        knee,
        presented Palak
        with a gorgeous ring, and asked her to marry him. She said yes, of course.
    </div>
</div>


<div id="wedding_party" class="row teal">
    <h2 class="text-center"> Wedding Party </h2>
</div>
<div class="row teal">
    <div class="col-md-1"></div>
    <div class="col-md-11">
        Maecenas eleifend justo et purus cursus, in pretium turpis ultricies. Sed vulputate erat a sapien
        auctor,
        commodo feugiat ex iaculis. Curabitur imperdiet suscipit malesuada. Donec feugiat maximus ex, id
        elementum
        ipsum fermentum at. Aenean faucibus risus turpis, vel eleifend risus ultricies sit amet. Ut eu tortor
        urna.
        Praesent enim lorem, tristique non nulla ut, pretium ultricies ex. Curabitur quam augue, commodo ut dui
        a,
        posuere consequat lorem. Vestibulum ac sapien laoreet, interdum tellus in, scelerisque lectus. Nullam
        mauris
        lacus, fringilla quis vestibulum quis, cursus vitae ex.

        Duis semper eleifend nunc quis faucibus. Nunc at justo vel augue posuere tristique pretium a sapien.
        Nulla
        ut diam magna. Ut magna arcu, lobortis a augue eget, mattis tempor mi. Aliquam id metus et lectus
        vehicula
        tristique. Praesent consequat, lectus quis dictum sollicitudin, neque tellus aliquam elit, sed tincidunt
        felis magna vel justo. Duis vulputate dui ac urna laoreet ultricies. Nunc accumsan ut purus vel
        sagittis.

        In hendrerit enim eget turpis imperdiet, et aliquet ligula venenatis. Aenean ut sem et diam feugiat
        maximus
        nec in velit. Aliquam mollis tristique mauris, eget tincidunt lorem vestibulum in. Integer vel pulvinar
        dolor. Etiam vitae tempus lorem, quis luctus magna. Sed augue ipsum, auctor eu neque non, sodales dictum
        nisi. Nam pharetra ut mi ut pharetra. Maecenas posuere ipsum sed nulla eleifend, at pellentesque purus
        cursus. Vestibulum efficitur tincidunt tellus nec sagittis. Aliquam cursus tellus mi, eu interdum ante
        volutpat ac. Praesent vulputate enim risus, malesuada tristique justo rhoncus et. Cras nec fermentum
        nisi.
        Vivamus tincidunt id nisl non cursus. Vestibulum quis nulla at est bibendum blandit ac quis mi. Morbi eu
        tincidunt magna.
    </div>
</div>

<div id="wedding_events" class="row glitter">
    <h1 class="text-center">
        Wedding Events
    </h1>

    <div class="row glitter">
        <div class="col-md-1"></div>
        <div class="col-md-11">
            Maecenas eleifend justo et purus cursus, in pretium turpis ultricies. Sed vulputate erat a sapien
            auctor,
            commodo feugiat ex iaculis. Curabitur imperdiet suscipit malesuada. Donec feugiat maximus ex, id
            elementum
            ipsum fermentum at. Aenean faucibus risus turpis, vel eleifend risus ultricies sit amet. Ut eu tortor
            urna.
            Praesent enim lorem, tristique non nulla ut, pretium ultricies ex. Curabitur quam augue, commodo ut dui
            a,
            posuere consequat lorem. Vestibulum ac sapien laoreet, interdum tellus in, scelerisque lectus. Nullam
            mauris
            lacus, fringilla quis vestibulum quis, cursus vitae ex.

            Duis semper eleifend nunc quis faucibus. Nunc at justo vel augue posuere tristique pretium a sapien.
            Nulla
            ut diam magna. Ut magna arcu, lobortis a augue eget, mattis tempor mi. Aliquam id metus et lectus
            vehicula
            tristique. Praesent consequat, lectus quis dictum sollicitudin, neque tellus aliquam elit, sed tincidunt
            felis magna vel justo. Duis vulputate dui ac urna laoreet ultricies. Nunc accumsan ut purus vel
            sagittis.

            In hendrerit enim eget turpis imperdiet, et aliquet ligula venenatis. Aenean ut sem et diam feugiat
            maximus
            nec in velit. Aliquam mollis tristique mauris, eget tincidunt lorem vestibulum in. Integer vel pulvinar
            dolor. Etiam vitae tempus lorem, quis luctus magna. Sed augue ipsum, auctor eu neque non, sodales dictum
            nisi. Nam pharetra ut mi ut pharetra. Maecenas posuere ipsum sed nulla eleifend, at pellentesque purus
            cursus. Vestibulum efficitur tincidunt tellus nec sagittis. Aliquam cursus tellus mi, eu interdum ante
            volutpat ac. Praesent vulputate enim risus, malesuada tristique justo rhoncus et. Cras nec fermentum
            nisi.
            Vivamus tincidunt id nisl non cursus. Vestibulum quis nulla at est bibendum blandit ac quis mi. Morbi eu
            tincidunt magna.
        </div>
    </div>

</div>


<div id="accommodations" class="row white">
    <h1 class="text-center">
        Accommodations
    </h1>

    <div class="row white">
        <div class="col-md-1"></div>
        <div class="col-md-11">
            Maecenas eleifend justo et purus cursus, in pretium turpis ultricies. Sed vulputate erat a sapien
            auctor,
            commodo feugiat ex iaculis. Curabitur imperdiet suscipit malesuada. Donec feugiat maximus ex, id
            elementum
            ipsum fermentum at. Aenean faucibus risus turpis, vel eleifend risus ultricies sit amet. Ut eu tortor
            urna.
            Praesent enim lorem, tristique non nulla ut, pretium ultricies ex. Curabitur quam augue, commodo ut dui
            a,
            posuere consequat lorem. Vestibulum ac sapien laoreet, interdum tellus in, scelerisque lectus. Nullam
            mauris
            lacus, fringilla quis vestibulum quis, cursus vitae ex.

            Duis semper eleifend nunc quis faucibus. Nunc at justo vel augue posuere tristique pretium a sapien.
            Nulla
            ut diam magna. Ut magna arcu, lobortis a augue eget, mattis tempor mi. Aliquam id metus et lectus
            vehicula
            tristique. Praesent consequat, lectus quis dictum sollicitudin, neque tellus aliquam elit, sed tincidunt
            felis magna vel justo. Duis vulputate dui ac urna laoreet ultricies. Nunc accumsan ut purus vel
            sagittis.

            In hendrerit enim eget turpis imperdiet, et aliquet ligula venenatis. Aenean ut sem et diam feugiat
            maximus
            nec in velit. Aliquam mollis tristique mauris, eget tincidunt lorem vestibulum in. Integer vel pulvinar
            dolor. Etiam vitae tempus lorem, quis luctus magna. Sed augue ipsum, auctor eu neque non, sodales dictum
            nisi. Nam pharetra ut mi ut pharetra. Maecenas posuere ipsum sed nulla eleifend, at pellentesque purus
            cursus. Vestibulum efficitur tincidunt tellus nec sagittis. Aliquam cursus tellus mi, eu interdum ante
            volutpat ac. Praesent vulputate enim risus, malesuada tristique justo rhoncus et. Cras nec fermentum
            nisi.
            Vivamus tincidunt id nisl non cursus. Vestibulum quis nulla at est bibendum blandit ac quis mi. Morbi eu
            tincidunt magna.
        </div>
    </div>

</div>


<div id="registry" class="row blue ">
    <h1 class="text-center">
        Registry
    </h1>

    <div class="row blue">
        <div class="col-md-1"></div>
        <div class="col-md-11">
            Maecenas eleifend justo et purus cursus, in pretium turpis ultricies. Sed vulputate erat a sapien
            auctor,
            commodo feugiat ex iaculis. Curabitur imperdiet suscipit malesuada. Donec feugiat maximus ex, id
            elementum
            ipsum fermentum at. Aenean faucibus risus turpis, vel eleifend risus ultricies sit amet. Ut eu tortor
            urna.
            Praesent enim lorem, tristique non nulla ut, pretium ultricies ex. Curabitur quam augue, commodo ut dui
            a,
            posuere consequat lorem. Vestibulum ac sapien laoreet, interdum tellus in, scelerisque lectus. Nullam
            mauris
            lacus, fringilla quis vestibulum quis, cursus vitae ex.

            Duis semper eleifend nunc quis faucibus. Nunc at justo vel augue posuere tristique pretium a sapien.
            Nulla
            ut diam magna. Ut magna arcu, lobortis a augue eget, mattis tempor mi. Aliquam id metus et lectus
            vehicula
            tristique. Praesent consequat, lectus quis dictum sollicitudin, neque tellus aliquam elit, sed tincidunt
            felis magna vel justo. Duis vulputate dui ac urna laoreet ultricies. Nunc accumsan ut purus vel
            sagittis.

            In hendrerit enim eget turpis imperdiet, et aliquet ligula venenatis. Aenean ut sem et diam feugiat
            maximus
            nec in velit. Aliquam mollis tristique mauris, eget tincidunt lorem vestibulum in. Integer vel pulvinar
            dolor. Etiam vitae tempus lorem, quis luctus magna. Sed augue ipsum, auctor eu neque non, sodales dictum
            nisi. Nam pharetra ut mi ut pharetra. Maecenas posuere ipsum sed nulla eleifend, at pellentesque purus
            cursus. Vestibulum efficitur tincidunt tellus nec sagittis. Aliquam cursus tellus mi, eu interdum ante
            volutpat ac. Praesent vulputate enim risus, malesuada tristique justo rhoncus et. Cras nec fermentum
            nisi.
            Vivamus tincidunt id nisl non cursus. Vestibulum quis nulla at est bibendum blandit ac quis mi. Morbi eu
            tincidunt magna.
        </div>
    </div>

</div>


