<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="alert alert-info">
            We have already received your RSVP. Please contact palakandjared@gmail.com, or call Veena at 678-232-4506 with any questions.
        </div>
    </div>
    <div class="col-md-2"></div>

</div>