<div id="thankYouPage" class="yellow-on-pink stretch-vertical">
    <div class="lavReg row hugeText padding-bottom-20">
        Thank You
    </div>

    <div class="center-text padding-bottom-20">

        <% if @invitation_group.has_attendees %>
            <h2>
                We look forward to celebrating with you!
            </h2>
        <% else %>
            <h2>
                We're sorry to miss you!
            </h2>
        <% end %>

    </div>
</div>