<div id="thankYouPage" class="gold-on-red">
    <div class="lavReg row hugeText padding-bottom-20">
        Thank You
    </div>

    <div class="row no-list-style padding-bottom-20">
        <div class="col-md-1"></div>
        <div class="col-md-11">
            <div>
                We look forward to seeing you!
            </div>
        </div>
    </div>
</div>