<div class="yellow-on-pink GOTHIC">
    <div class="row">
        <div class="up-top" data-spy="affix" data-offset-top="40" class="row">

            <div class="col-md-3"></div>
            <div class="col-md-8">
                <button type="button" class="btn btn-default mynavigation pink-on-yellow" onclick=scrollToId("#non-indian")>
                    Non Indian's Guide
                </button>
                <button type="button" class="btn btn-default mynavigation pink-on-yellow" onclick=scrollToId("#gujarati")>
                   Gujarati Ceremony
                </button>
                <button type="button" class="btn btn-default mynavigation  pink-on-yellow" onclick=scrollToId("#explanation")>
                    Ceremony Explanation
                </button>
                <button type="button" class="btn btn-default mynavigation  pink-on-yellow" onclick=scrollToId("#glossary")>
                    Glossary
                </button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="padding-top-20"></div>
            <h1 id="non-indian" class="myheading">A Non Indian's Guide to a Hindu Wedding</h1>

            <p>
                We thought this guide would be helpful for those who have never attended a Hindu wedding ceremony.
                There's
                lots that happen during the ceremony which can get overwhelming or confusing, so hopefully this guide
                will
                help you understand what to expect!
            </p>

            <h3 class="myheading">Dancing</h3>

            <p>
                There's no doubt Indians love to dance; any excuse to dance, we will take it. When Jared and his family
                arrive at the temple, they'll spend a good amount of time just dancing outside the hall to Indian beats.
                It's a celebration, so don't feel shy and join in!
            </p>

            <h3 class="myheading">Food</h3>

            <p>
                At religious Hindu events, the food served is usually vegetarian. It will be no different at Palak and
                Jared's wedding. For those strict carnivores, don't you worry. We guarantee your tummies will be full by
                the
                end of the night! (Note: vegetarian does not mean vegan. Dairy products are a big part of a Hindu diet.)
            </p>

            <h3 class="myheading">Games</h3>

            <p>
                Since back in the day the bride and groom didn't know each other or their new in-laws, little games are
                typically played throughout the wedding ceremony to keep the joyous mood. It's really just being playful
                with the families to help break the ice. The games aren't necessarily announced or setup, they basically
                happen on the fly.
            </p>

            <p class="P3">
                After the baraat, one of the most entertaining ceremonies is the 'Joota Chupai' which literally means
                'hiding the shoes.' When the groom sits in the mandap it is customary for him and everyone else to
                remove
                their shoes. This is when Palak’s sisters, cousins, bridesmaid, and friends steal the groom's shoes and
                return them after a hard round of bargaining where they are promised money and gifts. It is the job of
                Jared’s brother, groomsmen, cousins, and friends to not let the Palak’s entourage steal the shoes, and
                at
                the same time the bride's side has to try their best to get the shoes and hide them.  The negotiation
                for
                the shoes is an entertaining event since the groom, while desperate not to be fleeced, cannot take his
                bride
                home without his shoes.
            </p>

            <p class="P3"> </p>

            <p>
                During the last mangal phera (walk around the fire), Palak's brothers stop Jared by holding down his
                toe.
                Once negotiations settle (money), Jared will be allowed to continue walking.
            </p>

            <p>
                After each mangal phera, Palak and Jared are to sit on their chairs before continuing their next walk
                around
                the fire. Once they complete their last mangal phera, Palak and Jared sit down once more. However, this
                time
                the families tend to pay close attention to this since the person who sits down first tends to be the
                one
                who wears the pants in the family. If Palak and Jared remember this little tidbit of information, you'll
                see
                them racing to sit down first.
            </p>


            <p>
                At the end of the ceremony, Palak's mom will feed both Palak and Jared some sweets. When she goes to
                feed
                Jared, Jared will hold on to a piece of Palak's mom's sari and won't let go until he gets some money.
            </p>


            <h3 class="myheading">Gifts</h3>

            <p>
                Typically guests at Indian weddings give cash gifts or gold. They're given traditionally as a form of
                investment in the couple's future. During the wedding, there will be a table set-up:  At this table will
                sit
                a gentleman or two with a book. They're basically keeping record of what everyone gives. It will be at
                these
                tables we'll have a card box available.
            </p>


            <p>
                Why do we do this? Back in the day, weddings were an expense some families couldn't afford, so the
                village
                would pitch in to help. On the wedding day, people would give two cash gifts: one for the parents and
                one
                for the person getting married. The cash for the parents is to help pay for the wedding. The cash given
                to
                the person getting married is to use for a rainy day to help their family if they so choose to. A record
                of
                this is kept on the wedding day to help save time after the wedding to create a list of gifts given. It
                also
                ensures that at the next wedding in the village, the monetary support is reciprocated. Please don't feel
                obligated to follow this tradition if you are not familiar with it.
            </p>


            <h2 id="gujarati" class="myheading">Gujarati Hindu Wedding Ceremony</h2>

            <p>
                India, like the U.S., is made of several states (28 to be exact). Although two people may be Hindu, if
                they
                are from different states, their Hindu practices may be somewhat different. The foundation of Hinduism
                is
                the same throughout India and the world; however, the way we expand on that foundation varies from state
                to
                state, country to country. A Gujarati Hindu wedding ceremony is different from a Punjabi wedding
                ceremony
                which are different from a Tamil wedding ceremony (and so on and so forth..). To make things even more
                complicated, within the Gujarati culture, there are various traditions based on the family's trade (or
                in
                this day and age, the family's ancestral trade). The point is, if you've been to a Hindu wedding before,
                don't expect everything to be the same at Palak and Jared's wedding.
            </p>


            <h3 class="myheading">Mandap</h3>

            <p>
                The mandap is where the majority of the wedding ceremony will occur. If you will be entering the mandap,
                you
                will have to first remove your shoes. Traditionally Hindus take off their shoes before entering a temple
                or
                an area where there are idols of Hindu deities placed. The reason being, the soles of shoes absorb
                impurities from the ground. Since temples and other places of prayers are considered sacred, shoes
                (being
                impure) are not allowed to be brought inside.
            </p>


            <h3 class="myheading">Seating</h3>

            <p>
                Jared will be seated on the right hand side of the mandap; Palak will be seated on the left hand side.
                With
                that in mind, the bride and groom's family and friends will sit accordingly, however, one is not
                required to
                sit on any particular side.
            </p>


            <h3 class="myheading">Silence</h3>

            <p>
                Silence during an Indian wedding is important. Yes, everyone is there to celebrate the couple and the
                joining of their families, but it is also a social event to meet those you haven't seen in a while.
                Basically weddings are the reason we never have family reunions. So, there's no need to be offended if
                there
                isn't silence during the ceremony.. Palak and Jared won't be! At the same time, Palak’s parents request
                that
                for 45 minutes of the actual ceremony, everyone observes the silence so friends and family can
                participate,
                learn and enjoy the rituals. If one must talk, please excuse yourself and go to a place where you won’t
                be
                disturbing the ceremony.
            </p>


            <h3 class="myheading">Size</h3>

            <p>
                Let's face it, Indian weddings are HUGE! A standard size for a wedding is usually between 400-600
                guests;
                however, Indian weddings have even been known to host over 1000+ people. (No.. Palak and Jared's wedding
                guest list won't be in the thousands.) Why are Indian weddings always so big? It may seem like the
                parents
                of the bride and groom have invited the entire city; however, the wedding is actually the last
                celebration
                any parent will throw for their child. For parents, the wedding marks the beginning of their child's
                true
                independence as they start a new family. You can understand why parents' want to share this joyous
                occasion
                with others!
            </p>


            <h3 class="myheading">Timing</h3>

            <p>
                The wedding ceremony can get long.. like 2-3 hours long. For our wedding, we're planning our ceremony to
                be
                approximately an hour in length (once Palak enters the mandap).
            </p>


            <h3 class="myheading">What (Not) To Wear</h3>

            <p>
                Indian weddings are really colourful.. so colourful you'll feel like you're swimming through a box of
                smarties. When dressing up for events, stay on the formal side. Going too casual may make you feel out
                of
                place. Should you feel like dressing in Indian wear, there are lots of options for you:
            </p>

            <p>Kurta - A pant suit for men. The tops are long and usually come up to your knees. The pants are typically
                tapered.
            </p>

            <p>Salwar Kameez - A pant suit for women. Same concept as the kurta except more blingy.
            </p>

            <p>Lengha - A skirt suit for women. The tops can be short or long and the skirts typically come in A-Line or
                fish-tail. It has an extra piece of cloth which you would pleat and pin over your shoulder.
            </p>

            <p>Sari - A "dress" for women. This one can be complicated. It's almost a one size fits all, except for the
                blouse. And if you're taller than Palak, the underskirt/petticoat may need to be lengthened. Saris are
                something you wouldn't be able to put on yourself. The 5 to 6 metre long cloth can be worn in different
                ways, so if you want to wear a sari, you will have to make arrangements to find someone to help you.
            </p>


            <h2 id="explanation" class="myheading">Explanation of the Hindu Wedding Ceremony</h2>


            <p>
                Typically at Hindu weddings in North America, an explanation of the ceremony is given to each guest. In
                order to save some trees, we're providing that explanation here. Should you want to follow along during
                the
                ceremony, you can print out the
                <a href="https://docs.google.com/fileview?id=0B90stqtswBuQYWRlYmYxMjgtNTk0OS00MDE5LTkyYjUtMDM2ZTAwZjIwYTA3&amp;hl=en" class="Internet_20_link">PDF
                    version</a> to bring with you.
            </p>


            <p>
                The Hindu ceremony is rich in tradition and culture, and is an elaborate, religious occasion, founded on
                5,000 years of history. The ceremony unites a large number of family and friends who share in a day of
                celebration. On the stage there is a decorated canopy with four pillars, representative of the four
                parents,
                called the Mandap. The flowers adorning the Mandap symbolize beauty and joy. The grains of rice
                represent
                the food necessary to sustain life. The Hindu Sacrament of marriage, or Lagna – Sanskrit word, is
                believed
                to be the union of two souls; Rig Veda. Through each other, the Bride and the Groom fulfill their Dharma
                (moral duty) and become physically, emotionally and spiritually complete. A Hindu marriage represents an
                Eternal bond between husband and wife and also their respective families.
            </p>


            <h3 class="myheading">Var Agaman: “Welcoming of the Groom</h3>

            <p>The Wedding Party is welcomed at the entrance of the venue by Brides Family.
            </p>


            <h3 class="myheading">Pokhan: “Arrival ceremony"</h3>

            <p>
                At the entrance, a ritual takes place to symbolize the official welcome of the Groom. After this welcome
                ceremony, a sapatia (small clay pot) is placed before the Groom’s feet which he must crush as a sign of
                physical strength. The Groom is then escorted to the mandap by the Bride’s mother where the wedding
                ceremony
                will take place.
            </p>


            <h3 class="myheading">Ganesh Puja: “Worship of Lord Ganesh”</h3>

            <p>
                The Priest and the Bride’s parents sit under the Mandap to perform the ceremony. The priest invokes Lord
                Ganesh and recites prayers to bring good luck and mark the beginning of the ceremony. Traditionally, all
                Hindu ceremonies begin with Ganesh Puja.
            </p>


            <h3 class="myheading">Antarpat &amp; Kanya Agaman: “Arrival of the Bride”</h3>

            <p>
                An Antarpat (white cloth) is held in front of the Groom by the family members to signify that Bride and
                Groom are separate individuals, and eight auspicious verses (Mangalshtak) are recited. The Bride then
                makes
                her entrance and is led to the mandap by her maternal family (mamas).
            </p>


            <h3 class="myheading">Hasta Melap &amp; Kanyadaan: “Entrusting of the daughter”</h3>

            <p>
                After the Bride has been seated in the mandap. A cotton cord with seven strands is placed around the
                couple’s shoulders. The cord signifies that united they can go through life without failing and the
                seven
                strands signify strength that comes with unity and harmony that prevails through mutual co-operation.
                The
                Bride’s parents give their daughter to the groom by putting the Bride’s right hand into the Groom’s
                right
                hand (Hasta Melap – joining of hands) while reciting sacred verses for the stability and longevity of
                their
                married life. A knot is tied between the Groom’s scarf and the Bride’s sari by the Groom’s sister. The
                knot
                and the joined hands of the couple represent the love that binds two souls for a lifetime. The Bride’s
                parents bless the marriage by praying to God and the antarpat is then removed.
            </p>


            <h3 class="myheading">Varmala: “The couple exchanges garlands”</h3>

            <p>
                The Kanyadaan is confirmed by the exchange of garlands between the Bride and the Groom, which symbolize
                the
                unification of their hearts, minds and souls.
            </p>


            <h3 class="myheading">Mangal Phera: “Walk around holy fire”</h3>

            <p>
                The Agni (Holy Fire) is now lit to invite God to witness the marriage. It symbolizes the presence of the
                Creator and is deemed to be the ultimate witness to the marriage. The couple walks around the Agni
                clockwise
                four times representing the sacred direction in life. Each revolution represents the four basic goals of
                humanity:
            </p>
            <ul>
                <li>
                    Dharma: moral obligation to lead a good life
                </li>
                <li>
                    Artha: prosperity and sustenance
                </li>
                <li>
                    Karma: the concept of “action” to shape past, present and future
                </li>
                <li>
                    Moksha: liberation and contentment
                </li>
            </ul>
            <p>
                Before the start of each revolution, the Bride’s bhais (brothers) will offer blessings by placing
                ‘jav-tal’
                (wild grain and sesame seeds) on their palms which they offer to the Agni.
            </p>


            <h3 class="myheading">Saptapadi: “7 steps”</h3>

            <p>
                The couple takes seven steps symbolizing entry into married life. The steps are taken over 7 Soparis
                (beetle
                nuts) representing Sustenance, Strength, Wealth, Knowledge, Children, Health and Love.
            </p>


            <h3 class="myheading">Mangal Sutra: “Sacred Necklace”</h3>

            <p>
                The groom’s mother places a necklace around Bride’s neck (traditionally a thread with black beads) as
                mark
                of longevity of her married life.
            </p>


            <h3 class="myheading">Sindoor: “Vermillion Powder”</h3>

            <p>
                The Groom will apply Sindoor on the parting of the Bride’s hair to signify she is now married to him.
            </p>


            <h3 class="myheading">Kansar: “Offering of sweets”</h3>

            <p>
                Sweets are handed to the married couple by both their mothers. The Bride and the Groom will feed each
                other
                to symbolize that during their lifetime together, they will share equally moments of happiness and
                sorrow.
            </p>


            <h3 class="myheading">Ashirwad: “Blessings”</h3>

            <p>
                Before leaving the mandap, the priest blesses the couple on behalf of the Gods and then their families
                come
                forward to give Ashirvad (blessings) for the future. The couple now leave the mandap as ‘one’ and begin
                their new life together.
            </p>


            <h3 class="myheading">Varava Vanu: “Bridal send off”</h3>

            <p>
                The Bride now bids a touching and emotional farewell to her parents, family and friends as she begins
                her
                new life and becomes member of the Groom’s family.
            </p>

            <h1 id="glossary" class="myheading">Glossary</h1>

            <p>
                Here are some words you'll probably hear throughout the wedding day.
            </p>


            <p>Antarpaat: A cloth that separates the bride and groom at the beginning of a wedding
            </p>

            <p>Ashirvaad: Blessings from elders</p>

            <p>Banevi: Brother-in-law</p>

            <p>Ben: Sister</p>

            <p>Bhabhi: Sister-in-law</p>

            <p>Bhai: Brother</p>

            <p>Brahmin: Hindu priest</p>

            <p>Phera: Walk around the holy Fire</p>

            <p>Haar: A floral garland</p>

            <p>Jaan: Groom's family and friends </p>

            <p>Kanya: Bride</p>

            <p>Mandap: Wedding altar consisting of four posts</p>

            <p>Mehndi: Henna</p>

            <p>Puja: Hindu ceremony</p>

            <p>Var-raja: Groom</p>
        </div>
    </div>
</div>
