<div class="black-on-white GOTHIC">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">


                <h1 id="non-indian" class="myheading">Reminder Emails</h1>

                <div class="alert-danger">DO NOT CLICK THIS BUTTON JARED TOLD YOU TO!</div>
                <%= form_tag("/reminder_emails", method: "post") do |f| %>
                    <%= submit_tag("Send Reminder Emails", id: 'email-submit') %>
                <% end %>

                <h1 id="non-indian" class="myheading">Sent</h1>
                <%= render partial: 'email_list', locals: {emails: @sent_emails, date_name: :sent_date} %>


            </div>
        </div>
    </div>
</div>









