<!DOCTYPE html>
<html>
<head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
</head>
<body>
<h1>Hi <%= %></h1>

<p>
    We're excited to celebrate our wedding with you this September! As a reminder you RSVPed to the following event.
</p>

<%= render partial: "shared/accepted_table", locals: {event_to_attending_hash: @event_to_attending_hash} %>

</body>
</html>