@font-face {
    font-family: ITCEDSCR;
    src: font-url("ITCEDSCR.ttf") format('truetype');
}
.edwardian {
    font-family: ITCEDSCR;
    font-size: 800%;
    text-align: center;
}
.pea {
    background-image: asset-data-url("peacock.jpg");
    background-size: 100%;
    color: white;
}
.glitter {
    color: #210D5C;
    background-image: asset-data-url("glitter.png");
    background-size: 100% 100%;
}
.purple {
    background-color: rgb(33,7,71);
    color: #938F00;
}
.teal {
    color: #935000;
    background-color: #0d435c;
}
.white {
    background-color: white;
}
.blue {
    background-color: royalblue;
}
.banner, .content-section {

  border-radius: 25px;
}

main {
  background: black;
}