@font-face {
  font-family: ITCEDSCR;
  src: url("/assets/ITCEDSCR.ttf") format('truetype');
}

@font-face {
  font-family: LUCON;
  src: url("/assets/LUCON.TTF") format('truetype');
}
@font-face {
  font-family: georgia;
  src: url("/assets/georgia.ttf") format('truetype');
}

@font-face {
  font-family: GOTHIC;
  src: url("/assets/GOTHIC.TTF") format('truetype');
}

@font-face {
  font-family: lavReg;
  src: url("/assets/lavenderaReg.otf") format('truetype');
}
@font-face {
  font-family: ostrich-rounded;
  src: url("/assets/ostrich-rounded.ttf") format('truetype');
}

.lavReg{
  font-family: lavReg;
}


.lucon{
  font-family: LUCON;
}

.edwardian {
  font-family: ITCEDSCR;
  text-align: center;
}

.abstract-lights-bkgnd {

  background: linear-gradient(
                  rgba(0, 0, 0, 0.7),
                  rgba(0, 0, 0, 0.7)),
              asset-data-url("Abstract-backgrounds-for-powerpoint-presentations-dark-blue-abstract.jpg");
  background-attachment: fixed;
  color: white;
  background-size: auto 100%;
}

.hugeText{
  text-align: center;
  font-size: 1000%;
}

.pea {
  background-image: asset-data-url("peacock.jpg");
  background-size: auto 100%;
  color: white;
}

.glitter {
  color: #000000;
  background-image: asset-data-url("glitter.png");
  background-size: 100% 100%;
}

.myheading {
  font-family: ostrich-rounded;
}

.mynavigation {
  font-family: ostrich-rounded;
  font-size: 200%;
}

.GOTHIC {
  font-family: GOTHIC;
}

.purple {
  background-color: rgb(33, 7, 71);
  color: #f2adff;
}

.bridesmaidsAndGroomsMenPhotos {
  height: auto;
  width: auto;
  max-width: 100px;
  max-height: 100px;
  border-radius: 15px;
}

.rotate {
  -ms-transform: rotate(90deg); /* IE 9 */
  -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
  transform: rotate(90deg);
}

.top-buffer {
  margin-top: 30px;
}

.teal {
  color: #cdac4c;
  background-color: #0d435c;
}

.white {
  background-color: white;
  color: #007c27;
}

.blue {
  background-color: #0800ba;
  color: #fff8fd;
}

.banner, .content-section {
  padding-bottom: 25px;
  border-radius: 25px;
  font-family: GOTHIC;
}
.padding-top-20{
  padding-top: 20px;
}

.affix{
  width: 100%;
}

main {
  background: black;
}


.up-top{
  z-index: 99;
}