$carousel-max-dimension: 600px;
$rounding-radius: 25px;
$positions: top bottom left right;
$paddings: 20 50 100;
@font-face {
  font-family: ITCEDSCR;
  src: font-url("ITCEDSCR.ttf") ;
}

@font-face {
  font-family: LUCON;
  src: font-url("LUCON.TTF") ;
}

@font-face {
  font-family: georgia;
  src: font-url("georgia.ttf") ;
}

@font-face {
  font-family: GOTHIC;
  src: font-url("GOTHIC.TTF") ;
}

@font-face {
  font-family: lavReg;
  src: font-url("lavenderaReg.otf") ;
}

@font-face {
  font-family: ostrich-rounded;
  src: font-url("ostrich-rounded.ttf") ;
}

.lavReg {
  font-family: lavReg;
}

.lucon {
  font-family: LUCON;
}

.edwardian {
  font-family: ITCEDSCR;
  text-align: center;
}

.white-on-see-through-turquoise {
  color: #ffffff;
  background-color: darkgreen;
  background-color: rgba(55, 162, 171, 0.71);
  border-radius: $rounding-radius;

  padding: 100px;
  margin-top: 200px;
  margin-bottom: 200px;
}

.center-it {
  display: inline-block;
  text-align: center;
}

.vertical-align {
  display: flex;
  align-items: center;
}

.yellow-on-pink {
  color: #fff801;
  background-color: #b74788;
}

.pink-on-yellow {
  color: #b74788;
  background-color: #ffb90b;
}

$gold-color: #e09a1d;
$deep-red: #b10007;

.gold-on-red {
  color: $gold-color;
  background-color: $deep-red;
}

.red-on-gold {
  color: $deep-red;
  background-color: $gold-color;
}

.hugeText {
  text-align: center;
  font-size: 1000%;
}

.center-text {
  text-align: center;
}

.stretch-vertical {
  height: 100%;
}

.pea {
  background-image: asset-data-url("peacock.jpg");
  background-size: auto 100%;
  color: white;
}

.glitter {
  color: #000000;
  background-image: asset-data-url("glitter.png");
  background-size: 100% 100%;
}

.myheading {
  font-family: ostrich-rounded;
}

.mynavigation {
  font-family: ostrich-rounded;
  font-size: 200%;
}

.GOTHIC {
  font-family: GOTHIC;
}

.purple {
  background-color: rgb(33, 7, 71);
  color: #f2adff;
}

.bridesmaidsAndGroomsMenPhotos {
  height: auto;
  width: auto;
  max-width: 150px;
  max-height: 150px;
  border-radius: 15px;
}

.peacockLogo {
  height: auto;
  width: auto;
  max-width: 700px;
  border-radius: 15px;
}

.carouselImg {
  height: auto;
  width: auto;
  max-width: $carousel-max-dimension;
  max-height: $carousel-max-dimension;
  border-radius: 15px;
}

.carouselCap {
  width: $carousel-max-dimension;
  margin: 0 auto;
  text-align: center;
}

.rotate {
  -ms-transform: rotate(90deg); /* IE 9 */
  -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
  transform: rotate(90deg);
}

.top-buffer {
  margin-top: 35px;
}

.teal {
  color: #cdac4c;
  background-color: #0d435c;
}

.fullScreen {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.white {
  background-color: white;
  color: #007c27;
}

.blue {
  background-color: #0800ba;
  color: #fff8fd;
}

.black-on-white {
  background-color: whitesmoke;
  color: black;
}

.banner, .content-section {
  padding-bottom: 25px;
  border-radius: $rounding-radius;
  font-family: GOTHIC;
}

.names {
  font-family: GOTHIC;
}

.no-list-style {
  list-style: none;
  list-style-type: none;
}

@each $pad in $paddings {
  @each $pos in $positions {
    .padding-#{$pos}-#{$pad} {
      padding-#{$pos}: #{$pad}px;
    }
  }
}

main {
  background: black;
}

.up-top {
  z-index: 99;
}
.up-top-max {
  z-index: 100;
}

.no-padding {
  margin-top: 0px;
  margin-bottom: 0px;
  top-padding: 0px;
  bottom-padding: 0px;
}

/*to fix weird white gap that is on the right of the page*/
html, body {
  width: auto !important;
  overflow-x: hidden !important;
}

.carousel-height {
  height: $carousel-max-dimension;
}

body {
  font-family: GOTHIC;
}

//fork me on github stuff
#forkongithub a {
   background: #000;
   color: #fff;
   text-decoration: none;
   font-family: arial, sans-serif;
   text-align: center;
   font-weight: bold;
   padding: 5px 40px;
   font-size: 1rem;
   line-height: 2rem;
   position: relative;
   transition: 0.5s;
 }

#forkongithub a:hover {
  background: #c11;
  color: #fff;
}

#forkongithub a::before, #forkongithub a::after {
  content: "";
  width: 100%;
  display: block;
  position: absolute;
  top: 1px;
  left: 0;
  height: 1px;
  background: #fff;
}

#forkongithub a::after {
  bottom: 1px;
  top: auto;
}

@media screen and (min-width: 800px) {
  #forkongithub {
    position: fixed;
    display: block;
    top: 0;
    right: 0;
    width: 200px;
    overflow: hidden;
    height: 200px;
    z-index: 9999;
  }

  #forkongithub a {
    width: 200px;
    position: absolute;
    top: 60px;
    right: -60px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.8);
  }
}