.formtastic .choices-group{
  padding-left: 0px !important;
}

//override make confirm button on invitation_groups selection page make standard boostrap button
.formtastic li input{
  padding-bottom: 6px ;
  padding-top: 6px ;
  padding-left: 12px;
  padding-right: 12px;
}
