<div class="row top-buffer">
    <div class="col-md-3">
        <%= image_tag image, class: "bridesmaidsAndGroomsMenPhotos " %>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-8">
        <%= description %>
    </div>
</div>
