<%# add navigation links to this file %>
<li><%= link_to 'Save the Date Game', page_path('save_the_date') %></li>
<li><%= link_to 'A Non Indian\'s Guide to a Hindu Wedding', page_path('non_indian_guide') %></li>
<li><%= link_to 'Admin Login', url_for('invitation_groups') %></li>
